.header {
    background-color: #222c34;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 98%;
}

body, html {
    margin: 15;
    background-color: #f2f2f2;
}

h1 {
    color: aliceblue; 
    text-align: center; 
    margin: 10;
}

.bird-background{
    background-color: #f2f2f2;
    display: inline-flex;
    text-align: center;
    gap: 137px;
    padding: 20px;
}

.bird {
    text-align: center;
    margin: 15 420;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 800px;
}

.bird-info {
    text-align: center;
    margin: 10;
    color : #222c34
}

